
* {
    box-sizing: border-box;
}

body {
    background: url(../images/desktop.png) no-repeat center fixed; 
    background-size: contain;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.content {
    text-align: center;
    display: grid;
    grid-template-columns: 10% 55% 35%;
    grid-template-rows: 20% 65% 15%;
    height: 80vh;
}
#wel-header{
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 48px;
    align-self: start;
    color: #a4303f;
}

#wel-text1{
    color: #0f0722;
    font-size: 20px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    padding-top: 20px;
}
.topnav {
    overflow: hidden;
    background-color: #0f0722;
}
.topnav button {

        background-color: #251351;
        float: right;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 10px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
}

#get-started {
    border-radius: 25px;
}
#get-started:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#login {
    border-radius: 25px;

    color: gray;
    border: 2px solid #e7e7e7;
}
.topnav a:hover {
    background-color: #ddd;
    
}
